@charset "UTF-8";
/* =Mixins
-----------------------------------------------------------------------------*/
.text2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
.clearfix {
  display: table;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
/* =Reset
-----------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, '微软雅黑', sans-serif;
  font-size: 12px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  box-sizing: content-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
button {
  width: auto;
  overflow: visible;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  margin-right: 3px;
  padding: 0;
}
hr {
  display: block;
  box-sizing: content-box;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* =Buttons
-----------------------------------------------------------------------------*/
.btn,
button {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, Helvetica, '微软雅黑', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  padding: 0 32px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  color: #000000;
  background: #e5e5e5;
}
.btn:hover,
button:hover {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.btn[disabled],
button[disabled] {
  cursor: default;
  box-shadow: none;
  opacity: 0.4;
}
.btn[disabled]:hover,
button[disabled]:hover {
  background: #e5e5e5;
  color: #000000;
  text-decoration: none;
}
.btn[outline],
button[outline] {
  padding: 0 31px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.6);
}
.btn[outline]:hover,
button[outline]:hover {
  border-color: #000000;
  color: #000000;
  text-decoration: none;
}
.btn[outline][disabled],
button[outline][disabled] {
  cursor: default;
  box-shadow: none;
  opacity: 0.4;
}
.btn[outline][disabled]:hover,
button[outline][disabled]:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: none;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.btn[round],
button[round] {
  border-radius: 50px;
}
.btn[small],
button[small] {
  font-size: 1.2rem;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
}
.btn[small][outline],
button[small][outline] {
  padding: 0 19px;
}
.btn[big],
button[big] {
  font-size: 1.8rem;
  padding: 0 48px;
  height: 56px;
  line-height: 56px;
}
.btn[big][outline],
button[big][outline] {
  padding: 0 47px;
}
.btn[type="black"],
button[type="black"] {
  color: rgba(255, 255, 255, 0.9);
  background: #000;
}
.btn[type="black"]:hover,
button[type="black"]:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #333333;
}
.btn[type="black"][disabled]:hover,
button[type="black"][disabled]:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #000;
}
.btn[type="black"][outline],
button[type="black"][outline] {
  background: none;
  color: #000;
  border-color: #000;
}
.btn[type="black"][outline]:hover,
button[type="black"][outline]:hover {
  background: #000;
  border-color: #000;
  color: rgba(255, 255, 255, 0.9);
}
.btn[type="black"][outline][disabled]:hover,
button[type="black"][outline][disabled]:hover {
  background: none;
  border-color: #000;
  color: #000;
}
.btn[type="primary"],
button[type="primary"] {
  color: rgba(255, 255, 255, 0.9);
  background: #2f77d1;
}
.btn[type="primary"]:hover,
button[type="primary"]:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #5992da;
}
.btn[type="primary"][disabled]:hover,
button[type="primary"][disabled]:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #2f77d1;
}
.btn[type="primary"][outline],
button[type="primary"][outline] {
  background: none;
  color: #2f77d1;
  border-color: #2f77d1;
}
.btn[type="primary"][outline]:hover,
button[type="primary"][outline]:hover {
  background: #2f77d1;
  border-color: #2f77d1;
  color: rgba(255, 255, 255, 0.9);
}
.btn[type="primary"][outline][disabled]:hover,
button[type="primary"][outline][disabled]:hover {
  background: none;
  border-color: #2f77d1;
  color: #2f77d1;
}
.btn[type="white"],
button[type="white"] {
  background: #fff;
}
.btn[type="white"]:hover,
button[type="white"]:hover {
  opacity: 0.85;
}
.btn[type="white"][outline],
button[type="white"][outline] {
  background: none;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.9);
}
.btn[type="white"][outline]:hover,
button[type="white"][outline]:hover {
  opacity: 1;
  color: #000;
  border-color: #ffffff;
  background: #fff;
}
.btn-group {
  display: table;
  zoom: 1;
  display: inline-block;
  vertical-align: bottom;
}
.btn-group:after {
  content: " ";
  display: block;
  clear: both;
}
.btn-group .btn,
.btn-group button {
  float: left;
  margin-left: -1px;
  /* 前一个的右边框和后一个的左边框，共2px，去掉1px */
}
.btn-group .btn:first-child,
.btn-group button:first-child {
  border-radius: 2px 0 0 2px;
}
.btn-group .btn:last-child,
.btn-group button:last-child {
  border-radius: 0 2px 2px 0;
}
/* =Grid
-----------------------------------------------------------------------------*/
row {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  row {
    flex-direction: column;
  }
}
row column {
  margin: 0;
  padding: 0;
  margin-right: 24px;
}
row column:last-child {
  margin-right: 0;
}
row[end] {
  margin-bottom: 0;
}
row[split] column {
  margin-right: 0;
}
row[centered] {
  justify-content: center;
}
column[cols="1"] {
  width: 8.33333333%;
}
column[cols="2"] {
  width: 16.66666667%;
}
column[cols="3"] {
  width: 25%;
}
column[cols="4"] {
  width: 33.33333333%;
}
column[cols="5"] {
  width: 41.66666667%;
}
column[cols="6"] {
  width: 50%;
}
column[cols="7"] {
  width: 58.33333333%;
}
column[cols="8"] {
  width: 66.66666667%;
}
column[cols="9"] {
  width: 75%;
}
column[cols="10"] {
  width: 83.33333333%;
}
column[cols="11"] {
  width: 91.66666667%;
}
column[cols="12"] {
  width: 100%;
}
column[offset="1"] {
  margin-left: calc(9.53333333%);
}
column[offset="2"] {
  margin-left: calc(17.86666667%);
}
column[offset="3"] {
  margin-left: calc(26.2%);
}
column[offset="4"] {
  margin-left: calc(34.53333333%);
}
column[offset="5"] {
  margin-left: calc(42.86666667%);
}
column[offset="6"] {
  margin-left: calc(51.2%);
}
column[offset="7"] {
  margin-left: calc(59.53333333%);
}
column[offset="8"] {
  margin-left: calc(67.86666667%);
}
column[offset="9"] {
  margin-left: calc(76.2%);
}
column[offset="10"] {
  margin-left: calc(84.53333333%);
}
column[offset="11"] {
  margin-left: calc(92.86666667%);
}
.width-1 {
  width: 8.33333333%;
}
.width-2 {
  width: 16.66666667%;
}
.width-3 {
  width: 25%;
}
.width-4 {
  width: 33.33333333%;
}
.width-5 {
  width: 41.66666667%;
}
.width-6 {
  width: 50%;
}
.width-7 {
  width: 58.33333333%;
}
.width-8 {
  width: 66.66666667%;
}
.width-9 {
  width: 75%;
}
.width-10 {
  width: 83.33333333%;
}
.width-11 {
  width: 91.66666667%;
}
.width-12 {
  width: 100%;
}
@media (max-width: 768px) {
  row {
    margin-bottom: 0;
  }
  row [offset] {
    margin-left: 0;
  }
  row column[cols] {
    margin-right: 0;
    width: 100%;
    margin-bottom: 24px;
  }
  row row column:last-child {
    margin-bottom: 0;
  }
  .width-1,
  .width-2,
  .width-3,
  .width-4,
  .width-5,
  .width-6,
  .width-7,
  .width-8,
  .width-9,
  .width-10,
  .width-11,
  .width-12 {
    width: 100%;
  }
}
.bitable {
  width: 100%;
  height: auto;
  table-layout: fixed;
}
.bitable tr {
  height: 25px;
}
.bitable td {
  text-align: center;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  padding: 0 2px;
}
.bitable thead {
  background: linear-gradient(#f9f9f9 0px, #efefef 100%) repeat-x;
}
.bitable thead td {
  width: 50px;
}
.bitable tbody {
  background-color: #fff;
}
.bitable tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
/* =Typography
-----------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, '微软雅黑', sans-serif;
  font-size: 1.5em;
  line-height: 24px;
  background: #fff;
  color: #202020;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #256bc9;
}
a:hover {
  -moz-transition: all linear 0.3s;
  transition: all linear 0.3s;
  color: #e21e3b;
}
/* =Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000;
  line-height: 24px;
}
h1 {
  margin-bottom: 16px;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
}
h1,
h2,
h3,
h4 {
  margin-left: -1px;
}
h1 {
  font-size: 3rem;
  line-height: 32px;
}
h2 {
  font-size: 2.4rem;
  line-height: 32px;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
