classes
.class
target
bin
build
.settings
.clover
.classpath
.project
.svn
*.db
/webapp/src/main/webapp/upload
/webapp/src/main/webapp/uploadFile

.DS_Store
.sh

pom_profile
src/test/resources/passwd
temp
upload