* { font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体; color: #555; }
.icon { color: #049cdb; font-size: 16px; }

#dlg, #dlg1 { padding:3px }
a.easyui-linkbutton { width: 90px; }
#dlg-buttons, #dlg1-buttons, #dlg2-buttons { text-align:center; }

#queryContainer, div.queryContainer { height: 35px; padding: 4px 0 0 10px; background-color: #fff; }
#queryContainer label, div.queryContainer label { padding-left: 5px; padding-right: 5px;}
#queryContainer input, div.queryContainer input { width: 120px; }
#queryContainer a, div.queryContainer a { margin-left: 10px; }

.easyui-dialog table.l { border-collapse: collapse; margin: 0 auto; }
.easyui-dialog table.l { border: 1px solid #ddd; }
.easyui-dialog table.l tr { height: 40px; }
.easyui-dialog table.l td { border: 1px solid #eee; padding: 5px; }
.easyui-dialog table.l .label { background-color: #eee; width: 60px; text-align: right; box-sizing: content-box; }
.easyui-dialog table.l input.easyui-textbox     { width: 172px; }
.easyui-dialog table.l input.easyui-datetimebox { width: 172px; }